.scoreCanvas
{
    border: solid black 1px;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.popup
{
    position: fixed;
    top: 50px;
    left: 50px;
    background: white;
    border: solid black 1px;
    visibility: hidden;
    padding: 5px;
}

.noteStyleList
{
    list-style-type: none;
    display: inline-block;
    height: 200px;
    top: 0px;
    vertical-align: top;
    margin: 0;
    padding: 0;
}